*{
    margin:0;
}
#wrapper{
    width: 960px;
    height: 150px;
    margin: 0 auto;
    background: lightgray;
    padding-top: 50px;
}
h2{
    text-align: center; 
     color: blue;
}
#content{
    width: 960px;
    background: yellow;
    padding: 5px;
}
#left-box{
    width: 30%;
    height: 200px;
    background: cyan;
    float:left;
}
#right-box{
    width: 70%;
    height: 200px;
    background: darkgreen;
    float:left;
}